<!DOCTYPE html>
<html>

<head>
    <title>Password Updated</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Password Updated</h1>
    <p><b>Hello <%= name %>!</b></p>
    <p>Your password updated successfully.</p>
    <p>Regards,</p>
    <p><%= projectName %></p>
</body>

</html>