<!DOCTYPE html>
<html>

<head>
    <title>Password Reset Request</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Password Reset Request</h1>
    <p><b>Hello <%= name %>!</b></p>
    <p>You are receiving this email because we received a password reset request for your account.</p>
    <p><a href="<%= resetLink %>">Reset Password</a></p>
    <p>If you did not request a password reset, no further action is required.</p>
    <p>Regards,</p>
    <p><%= projectName %></p>
</body>

</html>